.content {
  z-index: 2;
  width: 70%;
  min-width: 271px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.title {
  color: var(--white);
  text-shadow: 1px 1px 3px var(--font-color);
  font-size: 40px;
  font-weight: bolder;
}

.subTitle {
  color: var(--font-color);
  font-weight: bolder;
  text-align: justify;
  max-width: 500px;
}

.box {
  all: unset;
  width: 100%;
  max-width: 330px;
  min-width: 200px;
  height: 60px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  /* Effect */
  animation: 3000ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s infinite normal
    none running glowingEffect;
  box-shadow: 0 0 0 2px var(--secondary);
}
.boxTitle {
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 640px) {
  .content {
    width: 100%;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 515px) {
  .content {
    width: 100%;
  }
  .title {
    font-size: 23px;
  }
  .boxTitle {
    font-size: 16px;
    font-weight: 500;
  }
  .box {
    max-width: fit-content;
    align-self: flex-end;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 20px;
  }
  .boxTitle {
    font-size: 12px;
    font-weight: 200;
  }
}

@keyframes glowingEffect {
  0%,
  33% {
    box-shadow: 0 0 0 2px var(--secondary), 0 0 0 var(--secondary);
  }

  66%,
  100% {
    box-shadow: 0 0 0 2px var(--secondary), 0 0 0 10px rgba(101, 84, 192, 0.01);
  }
}
